<!DOCTYPE html>
<html>
  <body class="report" style="background-color: #E4E6EF; height: 100%;">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profile-pic"
          />

          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
    <div style="page-break-after: always!important; height: -10px;"></div>
  </body>
</html>
